@media (min-width: 72em) {
    .clearSaved {
        width: 100%;
        display: flex;
        justify-content: end;
    }
    
    .clearSaved button {
        border: 1px solid #999;
        width: 12rem;
        height: 2.6rem;
        margin-top: 1rem;
        background-color: rgb(231, 34, 34);
        color: #fff;
    }
}