.register {
    width: 100%;
    display: flex;
    justify-content: center;
}

.register-container {
    width: 90%;
}

.register-img {
    display: none;
}

.register-form-container {
    width: 100%;
}

.register-form {
    width: 100%;
}

.register-form p {
    text-align: center;
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.btns-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btns-container button {
    width: 46%;
    height: 2.6rem;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgb(100, 100, 100);
}

.btn-f {
    background-color: #000;
    color: #fff;
    font-weight: 600;
}

.btn-g {
    background-color: #fff;
    color: #000;
    font-weight: 600;
}

.register-int-container {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-file {
    margin-bottom: 1.5rem;
    height: 2.6rem;
    background-color: #6d6d6d;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 1rem;                
    text-align: center;
    transition: all .3s ease;
}

.register-input {
    border: none;
    height: 2.6rem;
    border-radius: 20px;
    padding: 0 1rem;
    outline: none;
    box-shadow: 0px 0px 5px rgb(100, 100, 100);
    margin-bottom: 1.5rem;
}

.btn-submit {
    width: 100%;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    height: 2.6rem;
    box-shadow: 0px 0px 5px rgb(100, 100, 100);
    margin-bottom: 2rem;
}

.links-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.links-container a {
    width: 100%;
    text-decoration: none;
    color: #000;
    margin-bottom: .4rem;
    text-align: center;
}

.links-container span {
    font-weight: 600;
    padding-left: .4rem;
}

@media screen and (min-width: 26.5em) {
    .btns-container {
        justify-content: flex-start;
    }

    .btns-container button {
        width: 10rem;
        height: 2.6rem;
        border: none;
        border-radius: 20px;
        box-shadow: 0px 5px 10px rgb(100, 100, 100);
    }

    .btn-g {
        margin-left: 1rem;
    }

    .register-form p {
        text-align: start
    }
}

@media screen and (min-width: 37.5em) {
    .register-form-container {
        max-width: 37.5em;
        display: flex;
    }

    .register-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}