.carousel-container {
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: -15px 0 10px -10px #48529944, 15px 0 10px -10px #48529944;
}

#carouselExampleIndicators {
    width: 90%;
}

.w-100 {
    object-fit: cover;
    object-position: center;
}
