@media (min-width: 64em) {
    .cart-detail {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
    }

    .cart {
        border: 2px solid #000
    }

    .cart-number {
        display: none;
    }

    .cart-product {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cart-price {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p-bar {
        margin: 0 .5rem;
    }

    .cart-quantity {
        color: #09d92fdb;
        font-size: 1.2rem;
        margin: 0 .2rem 0 0;
    }

    .cart-producto {
        margin: 0;
    }

    .ars-p {
        margin: 0;
    }

    .cart-total {
        color: #f26531;
        font-weight: 600;
        margin: 0 0 0 .2rem;
    }
}

@media (min-width: 80em) {
    .navbar-container {
        max-width: 80em;
    }

    .navbar {
        display: flex;
        justify-content: center;
    }
}
