@media (min-width: 64em) {
    .form-modal {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .form-modal label {
        font-weight: 500;
    }

    .form-modal input {
        height: 2.2rem;
        outline: none;
        padding: 0 .2rem;
        margin-bottom: 1rem;
    }

    .button-order {
        width: 12rem;
        height: 2.5rem;
        border-radius: 8px;
        border: none;
        padding: .5rem;
        background-color: red;
        font-weight: 500;
        color: #fff
    }
}