.detail-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-page {
    width: 90%;
}

.detail-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}

.detail-bestSeller {
    background-color: #ffa800;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.6rem;
    width: 8rem;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

.detail-bestSeller p {
   color: #fff;
   margin: 0
}

.detail-img-container img {
    width: 12rem;
    height: 18rem;
    object-fit: cover;
}

.detail-first {
    width: 100%;
    padding: .5rem .5rem 1.8rem;
    border-bottom: 1px solid #999;
}

.detail-description {
    width: 100%;
}

.product-title { 
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    border-bottom: 2px solid #3a4bae;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}

.detail-description-p {
    margin-bottom: .5rem;
}

.detail-price {
    background-color: #EBEBEB;
    padding: .8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.detail-info-price {
    font-size: 2rem;
    margin-bottom: .5rem;
    color: #E72222;
    font-weight: 500;
}

.available-stock {
    color: #5cb85c;
    margin-bottom: .5rem;
    font-weight: 600;
}

.notAvailable-stock{ 
    color: #ff0000;
    margin-bottom: .5rem;
    font-weight: 600;
}

.detail-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-actions button {
    border: none;
    font-size: 1.6rem;
    background-color: #EBEBEB;
}

.fa-heart {
    color: #ff0000;
}

.detail-add-to-cart {
    width: 100%;
    display: flex;
    justify-content: center;
}

.detail-add-to-cart button {
    border: none;
    width: 100%;
    height: 2.6rem;
    margin-top: 1rem;
    background-color: #3a4bae;
    color: #fff;
}

.detail-details {
    width: 100%;
    padding: 0 .5rem;
    margin: 1.5rem 0 2rem;
}

.detail-text {
    font-size: 1.2rem;
    font-weight: 500;
}

@media screen and (min-width: 26.5em) {
    .detail-page {
        max-width: 26.5em;
    }
}