@media screen and (min-width: 48em) {
    .admin-section-container {
        flex-direction: row;
        align-items: start;
    }

    .admin-content {
        width: 100%;
        margin: 2rem 0;
        border: 1px dotted #999;
        padding: 1rem;
        height: auto;
    }

    .admin-navbar {
        max-width: 18em;
    }
}