@media (min-width: 64em) {
    .info-container-div {
        width: 20%;
    }

    .admin-page {
        display: flex;
        justify-content: center;
    }

    .admin-container {
        max-width: 80em;
    }

    .color-div-one, .color-div-three {
        background-color: #ffa800;
    }
    
    .color-div-two, .color-div-four {
        background-color: #3a4bae;
    }
}