.order-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.order-detail {
    width: 90%;
    border: 1px solid #999;
    padding: .4rem;
}

.order-title {
    width: 90%;
    font-size: 1.4rem;
    font-weight: 600;
    border-bottom: 1px solid #999;
}

.order-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    padding: .4rem;
    margin-bottom: 1rem;
}

.order-header span {
    display: none;
}

.order-delivered {
    margin: 0;
}

.order-total {
    font-weight: 600;
}

.order-header-p p {
    margin-bottom: .4rem;
}

.order-product-container {
    width: 100%;
    margin-bottom: 1rem;
    padding-bottom: .2rem;
    border-bottom: 1px solid #999;
}

.order-product-detail {
    width: 100%;
    display: flex;
    margin-bottom: .8rem;
}

.order-img-container {
    width: 4rem;
    display: flex;
    align-items: center;
}

.order-img-container img {
    width: 4rem;
    height: 6rem;
    object-fit: cover;
}

.product-detail {
    width: 100%;
    padding: 0 0 0 .4rem
}

.product-detail p {
    width: 100%;
    margin-bottom: .4rem;
    text-align: start;
}

.product-detail span {
    display: none;
}

.product-price {
    font-weight: 600;
}

.other {
    margin-top: 1rem;
}

.order-info p {
    margin-bottom: .4rem;
}

.paymentMethod {
    font-weight: 600;
    color: #ff0202
}

@media screen and (min-width: 31.25em) {
    .order-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}