@media (min-width: 72em) {
    .clearFavorites {
        width: 100%;
        display: flex;
        justify-content: end;
    }
    
    .clearFavorites button {
        border: 1px solid #999;
        width: 12rem;
        height: 2.6rem;
        margin-top: 1rem;
        background-color: #E72222;
        color: #fff;
    }
}